@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
body{
	background: #ebebeb; 
	position: relative; 
}

.dash-container {
	width: 97%; 
	height: 98%;
	margin-left: auto;
	margin-right: auto;
		
font-family: 'Noto Sans KR', sans-serif;
} 

#top-bar{background: #fff; height: 14%; padding-top: 20px;}   
.group-title{margin-top: 5px; font-weight: bold; font-size: 3.5em; text-align: center;}

.date{ text-align: center; margin-top: -12px;}
.date .prev-text{ font-size: 3em; color: #d3492c; text-decoration: none; }
.date .prev-text:hover {cursor:pointer; }
.date .prev-text:active {color: #3e3f44;}
.date .next-text{ font-size: 3em; color: #d3492c; text-decoration: none; }
.date .next-text:hover {cursor:pointer; }
.date .next-text:active {color: #3e3f44; }
.date .date-text{display: inline-block; vertical-align: middle; font-size: 1.8em; color: #3e3f44;  margin:0 10px; text-decoration: none;}

#dash-carousel { width: 100%; height: 86%} 

#dash-carousel .carousel-control { background: transparent;}
 
/*³»¿ë*/   
section#card-item{padding:10px 10px; overflow: auto; height: 100%; margin-left: auto; margin-right: auto;}  
#card-item article{float: left;   width: 20%; height: 48%; margin-bottom: 15px; margin-left: auto; margin-right: auto; }
#card-item article .item-lay{height: 100%; padding: 18px 15px; margin: 5px 10px;  border-radius: 3px;  }
  
#card-item article .item-lay.status1{background: rgba(239,239,231,0.6); } /* #efefe7, Èò»ö */
#card-item article .item-lay.status2{background: rgba(247,164,62,0.3);  } /* #ff9000, ³ë¶û */ 
#card-item article .item-lay.status3{background: rgba(11,77,109,0.3);} /* #0b4d6d, ³²»ö */
#card-item article .item-lay.status4{background: rgba(112,124,60,0.3);} /* #707c3c, ÃÊ·Ï */
#card-item article .item-lay.status5{background: rgba(255,60,38,0.3);} /* #c1175a, »¡°­ */
#card-item article .item-lay.status6{background: #d34900;} /* #d34900, ÁÖÈ² */  
   
#card-item article .profile{ height: 65%; text-align: center; } 
#card-item article .profile img{ width:210px; height: 210px; border-radius: 50%; border: solid 1px #ddd; margin-top: 13px; margin-bottom: 5px;}   
#card-item article .name{height: 10%; text-align: center; font-size: 1.2em; font-weight: light; color: #333333; letter-spacing: 2px; margin-top: 5px; }

#card-item article .ampm{height: 30%; display: table; width: 100%; }  
#card-item article .am{display: table-cell; width: 48%;  text-align: center;}
#card-item article .am span{display: inline-block; color: #0b4d6d; font-weight: light; border-radius: 3px; font-size: 1.2em; padding: 0px 15px; margin-bottom: 8px; } 
#card-item article .pm{display: table-cell; width: 48%;  text-align: center; }   
#card-item article .pm span{display: inline-block; color: #c94c30; font-weight: light; border-radius: 3px; font-size: 1.2em; padding: 0px 15px; margin-bottom: 8px;} 
 
#card-item article .loc-text { display: block; font-size: 3.6em; color:#343538; line-height: 100%; font-weight:bold; letter-spacing: -1px; } 
 
.dashoth-carousel #card-item article .loc-text {font-size: 2.8em}
.dashoth-carousel #card-item article .am{padding-right: 5px; }   
.dashoth-carousel #card-item article .pm{padding-left: 5px; }   

