.side-menu{background: rgba(0,0,0,0.5); width: 100%; height: 100%;position: absolute; z-index: 999;}
.side-menu .side-menu-content{position: fixed; right:0; height: 100%;background: #fff; width: 50%; padding:20px;}


.side-menu-content .user-info{border-bottom: solid 1px #ddd; padding-bottom: 10px;}
.side-menu-content .user-info .profile{text-align: center; margin-bottom: 10px; }
.side-menu-content .user-info .profile img{width: 128px; height: 128px;} 
.side-menu-content .user-info .dept{text-align: center; margin-bottom: 5px; font-size: 1em; }
.side-menu-content .user-info .name{text-align: center; margin-bottom: 10px; font-weight: bold; letter-spacing: 2px; font-size: 1.2em;}
.side-menu-content .btns{ margin-top: 20px;  }
.side-menu-content .btns a{display: block; text-align: center; margin-bottom:10px; text-decoration: none; color: #fff;line-height: 50px;height: 50px;}
.side-menu-content .btns a img{margin-right: 5px;}
.side-menu-content .btns a.btn1{background:#d3492c;}
.side-menu-content .btns a.btn2{background: #3e3f44;}
.side-menu-content .btns span {font-size: 0.6em;  }